@media screen and (max-width: 991px){
  main {
    margin-left: 0;
  }
  .side-nav-content{
    position: fixed;
    width: 250px;
    top: 0;
    left: -250px;
    transition: .4s ease;
  }
}
@media screen and (max-width: 992px){
  h1{
    font-size: 50px;
  }
  h3{
    font-size: 25px;
  }
  .hero-content .social-links a i{
    font-size: 15px;
  }
  .hero-content .social-links a {
    margin: 5px 0;
    width: 35px;
    height: 35px;
  }
  .side-nav-content.opened{
    left: 0;
  }
  .personal-info h6{
    font-size: 14px;
  }
  .personal-info h5{
    font-size: 20px;
  }
  .nav-list .nav-item .nav-link{
    font-size: 16px;
  }
  .let-talk{
    font-size: 14px;
  }
  .about-detail-info{
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px){
  h1{
    font-size: 30px;
  }
  h3{
    font-size: 18px;
  }
  .personal-info .profile-img{
    width: 100px;
  }
  .heading{
    font-size: 30px;
  }
  .personal-info .profile-img img{
    border-radius: 50%;
    margin-bottom: 15px;
    -webkit-animation: animate 1s linear infinite;
            animation: animate 1s linear infinite;
  }
  .project-content .project-heading .project-heading-title{
    font-size: 30px;
  }
}
@media screen and (max-width: 400px){
  .skills-info{
    padding: 0 0px;
  }
}