@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: #171651;
  font-family: "Raleway", sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  /* font-family: 'Roboto Slab', serif; */
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: 100;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
li {
  list-style: none;
}
h1 {
  font-size: 60px;
  font-weight: bold;
}
h2 {
  font-size: 40px;
}
p {
  letter-spacing: 0.5px;
}
img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  height: auto;
}
.margin-top {
  margin-top: 30px;
}
.home-area {
  background-color: #171651;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.side-nav {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1b1c54;
  z-index: 999;
}
header {
  width: 280px;
  height: 100vh;
  position: -webkit-sticky;
  position: fixed;
  background: #1b1c54;
  top: 0;
  left: 0;
  z-index: 999;
}
.personal-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}
.personal-info .profile-img {
  width: 140px;
  text-align: center;
}
.personal-info .profile-img img {
  border-radius: 50%;
  margin-bottom: 15px;
  -webkit-animation: animate 1s linear infinite;
  animation: animate 1s linear infinite;
}
@-webkit-keyframes animate {
  0% {
    box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0px 15px rgba(255, 255, 255, 0);
  }
}
@keyframes animate {
  0% {
    box-shadow: 0 0 0px 0px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0px 15px rgba(255, 255, 255, 0);
  }
}
.let-talk {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.nav-list .nav-item .nav-link {
  font-size: 18px;
  margin-bottom: 10px;
  transition: 0.2s ease;
}
.nav-list .nav-item .nav-link i {
  margin-right: 20px;
}
.nav-list .nav-item .nav-link:hover {
  background-color: #6358ca;
}
.current-page {
  background-color: #6358ca;
}
.btn-hover {
  display: inline-block;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin-top: 5px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  transition: all 0.4s ease-in-out;
}
.btn-hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}
.btn-hover:focus {
  outline: none;
}
.btn-hover.color-2 {
  background-image: linear-gradient(
    to right,
    #8e33f6,
    #694efd,
    #8e33f6,
    #694efd
  );
  border: 2px solid #0b0952;
}
.btn-lg {
  padding: 10px 30px;
  font-size: 16px;
}
.btn-sm {
  padding: 8px 18px;
  font-size: 14px;
}
main {
  margin-left: 280px;
}
section {
  color: #fff;
  padding: 60px 0;
}
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
}
.social-links {
  position: absolute;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
}
.my-name {
  color: #6358ca;
}
.social-links a {
  margin: 5px 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.social-links a i {
  font-size: 20px;
}
.social-links a:hover {
  color: #fff;
  text-decoration: none;
}
.social-links a:nth-child(1) {
  background: linear-gradient(0deg, #000000, #252525);
}
.social-links a:nth-child(2) {
  background: linear-gradient(0deg, #0e9cf5, #41d6ff);
}
.social-links a:nth-child(3) {
  background: linear-gradient(0deg, #3c5a99, #577ac7);
}
.social-links a:nth-child(4) {
  background: linear-gradient(45deg, #405de6, #833ab4, #fd1d1d);
}
.social-links a:nth-child(5) {
  background: linear-gradient(0deg, #006192, #019deb);
}

.side-nav .brand-logo {
  width: 40px;
  position: absolute;
  left: 5px;
  top: 10px;
}
.side-nav .side-menu-close {
  position: absolute;
  right: 5px;
  top: 10px;
  height: 30px;
  width: 30px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.side-menu-close {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.side-menu-close span {
  height: 2px;
  width: 20px;
  background: #fff;
  position: relative;
  opacity: 1;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

.side-menu-close span:nth-child(1) {
  top: -5px;
}

.side-menu-close span:nth-child(3) {
  bottom: -5px;
}

.side-menu-close.closed span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
  -webkit-transform: translateY(7px) rotate(45deg);
  -moz-transform: translateY(7px) rotate(45deg);
  -ms-transform: translateY(7px) rotate(45deg);
  -o-transform: translateY(7px) rotate(45deg);
}

.side-menu-close.closed span:nth-child(2) {
  opacity: 0;
}

.side-menu-close.closed span:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
  -webkit-transform: translateY(-7px) rotate(-45deg);
  -moz-transform: translateY(-7px) rotate(-45deg);
  -ms-transform: translateY(-7px) rotate(-45deg);
  -o-transform: translateY(-7px) rotate(-45deg);
}

.heading {
  display: inline-block;
  border-bottom: 2px solid #fff;
}

/* About-starts */
.about {
  background-color: #070640;
}
.heart {
  color: red;
}
.overview {
  text-align: center;
  margin-top: 50px;
}
.overview-item {
  display: flex;
  min-height: 250px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1f1c5f;
  padding: 10px;
  border-radius: 10px;
}
.overview-img {
  width: 70px;
  padding: 10px;
}
.main-data {
  color: #b9b9b9;
}
.about-detail {
  margin-top: 30px;
}
.about-detail-info {
  display: flex;
  align-items: center;
}
.about-detail-info-img {
  width: 50px;
  margin-right: 20px;
  background-color: #1f1c5f;
  padding: 10px;
  border-radius: 50%;
}
.about-detail-info-content p {
  margin: 0;
}
.overview-img {
  transition: 0.4s ease;
}
.overview-item:hover .overview-img {
  transform: rotate(360deg);
}

/* Skills-starts */
.skills {
  background-color: #070640;
}
.skills-info {
  padding: 0 15px;
  color: #070640;
  margin-bottom: 20px;
}
.skills-info .skills-detail {
  padding: 15px 25px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0 28px 0 rgba(241, 241, 241, 0.1);
}
.skills-info .skills-detail .skills-img {
  width: 50px;
}
.skills-info .skills-detail .skills-title {
  margin-top: 10px;
}

/* Projects-starts */
.project {
  position: relative;
}
.project-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  color: #000;
  opacity: 0;
  overflow: hidden;
  transition: 0.4s ease;
}
.project-content:hover {
  opacity: 1;
}
.project-content .project-heading .project-heading-title {
  line-height: 15px;
  font-size: 40px;
  color: #171651;
}
.project-heading p {
  margin-top: 20px;
}
.project-content .project-heading {
  transform: translateY(-50px);
  transition: 0.4s ease;
}
.project-content .learn-more {
  transform: translateY(50px);
  transition: all 0.4s ease-in-out;
}
.project-content:hover .project-heading,
.project-content:hover .learn-more {
  transform: translateY(0px);
}

.modal {
  padding-right: 0 !important;
}
.modal .modal-contents {
  width: 100%;
  max-width: 500px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.6);
  margin: 0 auto;
  transition: all 0.2s ease-in-out;
}
.modal .modal-contents .modal-contents-data {
  width: 100%;
  background-color: #1b1b57;
  color: #fff;
  height: 100%;
}
.modal.show .modal-contents {
  transform: scale(1);
}

.learn-more a {
  color: #fff;
}

.learn-more a:hover {
  text-decoration: none;
}
.item {
  width: 100%;
}
.item img {
  width: 100%;
}

.owl-theme .owl-nav {
  margin-top: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  background-color: #000;
  opacity: 0.3;
  width: 40px;
  height: 40px;
  border-radius: 0;
  font-size: 25px;
  display: flex;
  justify-content: center;
  padding: 0;
}
.owl-carousel .owl-nav button.owl-prev {
  float: left;
}
.owl-next:focus,
.owl-prev:focus {
  outline: none;
}
.owl-carousel .owl-nav button.owl-next {
  float: right;
}
.owl-theme .owl-nav [class*="owl-"] {
  margin: 0;
}
.close:focus {
  outline: none;
}
button.close {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  padding: 3px 10px 5px;
  background-color: #fff;
  opacity: 1;
  color: #1b1b57;
}
.project-detail {
  color: #fff;
}
.project-detail-title {
  padding: 10px;
  background-color: #23255e;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 25px;
}
.project-detail-content {
  padding: 10px;
  padding-top: 5px;
  font-size: 14px;
}
.view {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.view .git {
  display: flex;
  justify-content: center;
}
.view .git a {
  margin: 5px 0;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); */
  /* background-color: rgb(0, 0, 0); */
}
.view .git a i {
  font-size: 15px;
  display: flex;
  justify-content: center;
}
.view .git a:hover {
  color: #fff;
  text-decoration: none;
}
.view .git a {
  background: linear-gradient(0deg, #000000, #252525);
}
.tech {
  background-color: #6358ca;
  padding: 7px 15px;
  border-radius: 3px;
}
.tech span {
  font-size: 14px;
}

/* Contact-starts */
.contact {
  background-color: #070640;
}
form {
  background-color: #171651;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 0 30px;
}
.form-control:focus {
  border-color: none;
  box-shadow: none;
}
.contact-me-detail {
  margin: 0 30px;
}
.social-link-footer {
  position: relative;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
.social-link-footer a {
  margin: 0 10px;
}
.more-detail {
  padding: 10px 15px;
  background-color: #6358ca;
  margin-top: 10px;
  border-radius: 5px;
}
.more-detail i {
  margin-right: 3px;
}
.err {
  font-size: 14px;
  color: red;
}

/* Footer-starts */
footer {
  background-color: #171651;
  color: #fff;
  margin-left: 280px;
}
.footer-content {
  padding: 20px 0 12px;
}
.footer-content h6 {
  font-size: 15px;
}
